.article {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 2%;
  padding: 3%;
  cursor: pointer;
  background-color: white;
  margin: 2%;
}

.thumbnail-img {
  width: 80%;
  height: auto;
}

.info {
  margin: 2%;
}