.App {
  text-align: center;
  height: auto;
  width: 100vw;
  background-image: url('../../Images/background.png');
  background-repeat: repeat;
}

html {
  height: 100vh;
}

header {
  background-color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}