.App {
  text-align: center;
  height: auto;
  width: 100vw;
  font-family: 'Libre Baskerville', serif;
  /* margin-top: 10vh; */
}

html {
  height: 100vh;
  background-image: url('../../Images/background.png');
  background-repeat: repeat;
}

header {
  background-color: white;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  border: 2px solid black;
  z-index: 9999;
  top: 0;
}

.title {
  left: calc(50% - 250px);
  position: absolute;
}

input {
  margin-left: 5%;
  margin-right: 3%;
  width: 200px
}

@media screen and (max-width: 1050px) {
  header {
    flex-direction: column;
    height: fit-content;
    justify-content: space-around;
    padding-top: .5%;
    padding-bottom: 1%;
  }

  .title  {
    position: relative;
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 25px;
  }
}